<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.searchforrecipesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hot_cooking_icon_134855"
        android:label="Your Recipes"
        android:roundIcon="@drawable/hot_cooking_icon_134855"
        android:supportsRtl="true"
        android:theme="@style/Theme.SearchForRecipesApp">
        <activity android:name=".MainDetailsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>